
:root {
    color-scheme: #1D3F23;
}

/*
=======================
    => index.html
=======================
*/
body {
    background: #1D3F23;
    color: #efefef;
}

#main::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../image/islamic-pattern-1.png');
    background-size: 150px 150px;
    background-repeat: repeat;
    filter: brightness(10%) opacity(0.1);
}

#main-hadith {
    border: 1px solid #efefef;
}

#main-hadith #source, #main-hadith #text{
    background: none;
}

.section, .open-settings-btn {
    border: 1.5px solid #dfdfdf;
    background: transparent;
}


/*
=======================
    => subject.css
=======================
*/

#back-btn:active {
    background: #04935b60;
}

svg path {
    stroke: #eee;
}

ul .subject {
    border: 1px solid #ddd;
}

/*
=======================
    => content.css
=======================
*/

#add-to-favourite-btn:active, #copy-btn:active, #back-btn:active {
    background: #04935b60;
}

#add-to-favourite-btn:active svg,
.favourited {
    fill: #eee;
}
svg path {
    stroke: #eee;
}

#alert-message {
    border: 1px solid #dfdfdf;
    background: #04935b60;
}

#sayer {
    color: #d0d0d0;
}

#text {
    background: hsl(130.6,37%,25%, 0.5);
    color: #d0d0d0;
}

#source {
    background: hsla(130.6,37%,25%,0.5);

}