

body {
    background: #f4f4f4;
    color: #0f0f0f;
}

#main-hadith {
    border: 1px solid #0f0f0f;
    background: none;
    & #text {
        background: none;
    }
}

#sayer {
    color: #202020;
}

#text, #duaa {
    background: #dedede;
    color: #141414;
}

#source {
    background: #dadada;
}

#navigation .navigation-btn {
    color: #222;
}

.more-btn-icon svg {
    fill: #222;
}





#alert-message {
    border: 1px solid #171717;
    background: #efefef;
}

#copy-btn:active, #add-to-favourite-btn:active, #back-btn:active, #share-btn:active {
    background: #e1e2e5;
}

#share-btn svg,
#add-to-favourite-btn:active svg {
    fill: #222;
}
svg path {
    stroke: #222;
    stroke-width: 1.3px;
}