@import url('./fonts.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background: teal;
    color: #efefef;
    user-select: none;
}

#header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* height: 60px; */
    height: 75px;
    width: 100%;
    background: transparent;
}
#header:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 95%;
    background: #ddd;
}

.section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: El_Messiri-regular;
}

#back-btn {
    position: absolute;
    top: 50%;
    /* right: 10px; */
    right: 15px;
    transform: translateY(-50%);
    /* height: 40px;
    width: 40px; */
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 0px;
    background: transparent;
    transition: .1s linear;
    overflow: hidden;
}

#back-btn:active {
    border-radius: 10px;
    background: #04939386;
    transition: .1s linear;
}
svg {
    /* height: 28px;
    width: 28px; */
    height: 30px;
    width: 30px;
    transition: .1s linear;
}
svg path {
    stroke: #eee;
    stroke-width: 1.3px;
}

main {
    position: fixed;
    /* top: 60px; */
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    /* height: calc(100% - 60px); */
    height: calc(100% - 80px);
    width: 100%;
}




ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    gap: 8px;
    height: 100%;
    width: 100%;
    /* padding: 10px 0 30px 0; */
    padding: 15px 0 30px 0;
    list-style: none;
    overflow-y: scroll;
}

ul .subject {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    height: clamp(50px, auto, 100px);
    width: 90%;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* font-size: 22px; */
    font-size: 1.4rem;
    /* font-family: El_Messiri-regular; */
    font-family: "Amiri", Arial;
    transition: .1s ease-in-out;
    box-shadow: 0 0 2px rgba(0,0,0,0.16);
}

ul .subject:active {
    width: 85%;
    /* font-size: 20px; */
    font-size: 1.3rem;
}










/*========= Notification =========*/
.notification {
    z-index: 10000;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    border-radius: 18px;
    background: #222;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    font-family: El_Messiri-regular;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}
.notification-in {
    animation: 0.5s notification-in ease;
}
.notification-out {
    animation: 0.5s notification-in ease;
}
@keyframes notification-in {
    0% {top: -200px;}
    100% {top: 15px;}
}
@keyframes notification-out {
    0% {top: 15px;}
    100% {top: -200px;}
}

.update-now-btn {
    position: relative;
    right: 10px;
    order: -1;
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: El_Messiri-regular;
}
/*========= Notification =========*/
